@charset "utf-8";

:root {
  --image-color: #92E3A9;
  --primary-color: #000;
  --secondary-color: #333;
  --background-color: white;

  --font-family: "Libre Baskerville", serif;
  --normal-font: 400;
  --bold-font: 700;

  --bottom-margin: 0.5rem;
  --line-height: 1.7em;

  --transition: 0.3s;

  --margin-block: 100px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

/* COMMON */
.margin--block {
  margin-block: var(--margin-block);
}

.ttl {
  border-bottom: 1px solid var(--primary-color);
  margin-block-end: 50px;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* HEADER */
.header {
  width: 100%;
  height: 72px;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

.header h1 {
  font-weight: 400;
  padding: 1rem;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
}

.menu-navicon {
  background-color: var(--primary-color);
  display: block;
  width: 26px;
  height: 3px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-block-start: 70px;
  padding: 0 0 10px 0;
  background-color: white;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.menu li {
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu a {
  letter-spacing: 2px;
  font-size: 1em;
  text-transform:capitalize;
  opacity: 0;
  transition: 0.5s;
}

.menu-navicon::before,
.menu-navicon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--primary-color);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu-navicon::before {
  top: 9px;
}

.menu-navicon::after {
  bottom: 9px;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu-btn:checked ~ .menu-icon .menu-navicon::before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .menu-navicon::after {
  transform: rotate(45deg);
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .menu-navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* CONTENTS SECTION */
.main {
  width: min(1200px, 90%);
  margin-inline: auto;
  padding-block: 100px;
}

.about {
  width: min(1000px, 100%);
  margin: 100px auto;
}

.about__inner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.about__img {
  height: auto;
  width: 100%;
}

.about__bio {
  width: 100%;
  height: 204px;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #999;
  overflow: auto;
  position: relative;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--image-color) transparent;
}

.about__title {
  margin-bottom: var(--bottom-margin);
}

.about__bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.scroller {
  animation: mask-up;
  animation-timeline: view();
  animation-range: 0 1rem;
  mask-composite: exclude;

}
@keyframes mask-up {
  to {
    mask-size: 100% 120px, 100% 100%;
  }
}

@media (min-width: 768px) {
  .about__img {
    width: 50%;
  }
  .about__bio {
    width: 40%;
  }
}

/* PORTFOLIO SECTION */
.portfolio__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.portfolio__list li {
  border: 1px solid #999;
  width: 100%;
}

.portfolio__list li a {
  width: 100%;
  height: 300px;
}

.portfolio__list li a picture {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.portfolio__list li a img {
  height: 100%;
  transition: transform .6s ease;
}

.portfolio__list li a img:hover {
  transform: scale(1.1);
}

.portfolio__detail {
  padding: 1rem;
}

.portfolio__detail h3 {
  color: var(--textColor);
}

.portfolio__detail p {
  font-family: "MS Pゴシック",sans-serif;
  color: var(--textColor);
  padding-block-start: 1em;
}

@media (min-width: 768px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CONTACT SECTION */
input,
textarea {
  font-family: "MS Pゴシック",sans-serif;
  border:3px solid #000;
  padding:10px;
}

.contact {
  margin-block-start: 2rem;
}

.contact h2::after {
  content: "※現在機能停止しています。";
  font-size: 12px;
  color: red;
  display: inline-block;
}
@media (min-width: 768px) {
  .contact h2::after {
    padding: 0 1rem;
  }
}

.contact__container {
  max-width: 40.75rem;
  margin: auto;
  padding: 0.938rem;
  border: 1px solid;
}

.contact__container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact__container textarea {
  min-height: 6.25rem;
  font-size: 1rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--bottom-margin);
}

.contact__field{
  width: 100%;
  border-radius: 5px;
  border: 0;
  border: 2px outset var(--primary-color);
  font-size: 1rem;
  outline: none;
}

.contact__field::placeholder {
  color: #999;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #FFF;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  color: #FFF;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: var(--background-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0;
}

/* SCROLL TOP BUTTON */
.scroll-up {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  position: fixed;
  right: 2%;
  bottom: 3%;
  cursor: pointer;
}

.scroll-up .up-arrow{
  width: 50px;
  height: 50px;
  padding: 0.6rem;
}
